node_modules
.next
coverage
playwright-report
test-results
.env
.env.local
*.log
prisma/*.db
.opengrowth
.DS_Store
**/.DS_Store

# TypeScript incremental build cache
tsconfig.tsbuildinfo
*.tsbuildinfo
.data/
